
<div class="output-container">
  <div>
    <mat-list class="calc-input">
      <mat-list-item>Amount: {{ o_IAmount }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tax %: {{ o_ITax }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Tax Type: {{ taxType }}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div><br>
  <div>
    <mat-list class="calc-results">
      <mat-list-item>calculated Tax: {{ o_CTax }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>calculated Total: {{ o_CTotal }}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div><br>

  <div>
    <button class="btn-back"
      mat-stroked-button 
      color="primary" 
      routerLink="/input">BACK
    </button>
  </div>

  <div class="outputRecyclebin">
    <div>oJunk: {{ msg }}</div>
    <div>{{ msg2 }}</div>
    <div>DT => {{ now }}</div>
  </div>

  <div>
    <button mat-raised-button color="primary">SHOW PDF</button>
  </div>

</div>
