
.input-container {
 text-align: center;
}

.btn-submit {
    margin-top: 1em;
    font-size: 1em;
}

.btn-back {
    margin-top: 1em;
    font-size: 1em;
}

.dummyDisplay {
    margin-top: 5em;
    text-align: center;
}