
.input-container {
 text-align: center;
}

mat-form-field {
    width: auto;
}

.btn-submit {
    margin-top: 1em;
    font-size: 1em;
}

.btn-back {
    margin-top: 1em;
    font-size: 1em;
}

.inputRecyclebin {
    margin-top: 1em;
    text-align: center;
}

.inputRecyclebin label {
    float: none;
    display: inline-block;
    vertical-align: middle;
}